/* Reset */

img, button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

html {
	scroll-behavior: smooth;
}

/*@media (max-width: 768px) {

}*/

img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}